body {

    background-color: rgb(109, 89, 53);
    margin: 0px;

}

.classimg {

    height: 100px;
    width: 200px;
    border-radius: 200px;

}

.classimg:hover{

    height: 120px;
    width: 220px;
    border-radius: 200px;
    transition: 0.5s;

}

.classnavbar ul {

    list-style-type: none;

}

.classnavbar {

    background-color: rgb(151, 75, 9);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    font-family: cursive;
    border-radius: 200px;

}

.classnavbar a:hover {

    background-color: rgb(126, 61, 4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 200px;
    transition: 0.5s;

}

.classnavbar li {

    float: right;

}

.classlink {

    color: black;
    text-decoration: none;
    padding: 20px;
    margin: 15px;
    text-align: center;
    display: block;

}

h2 {

    color: orange;
    font-size: 70px;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
}


h2:hover {

    color: rgb(151, 75, 9);
    transition: 0.6s;

}

.classdiv1 {

    display: flex;
    justify-content: right;

}

.classimg2 {

    height: 600px;
    width: 800px;
    padding-left: 80px;
    padding-right: 50px;
    display: block;
    border-radius: 240px;

}

.classimg2:hover{

    height: 640px;
    width: 840px;
    padding-left: 70px;
    padding-right: 40px;
    display: block;
    border-radius: 200px;
    transition: 0.5s;
}

.classdiv1 ul {

    list-style-type: none;

}

.classdiv1 p {

    font-size: large;
    color: black;
    font-family: serif;

}

.classdiv1 p:hover {

    color: rgb(59, 80, 37);
    font-style: italic;
    transition: 0.5s;
}

.classdiv2 {

    background-color: rgb(126, 119, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.classdiv2 h1 {

    color: rgb(59, 80, 37);

}

.classdiv3{

    background-color: rgb(126, 119, 65) ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.smalldiv1 {

    margin: 60px;
    background-color: rgb(59, 80, 37) ;
    height:420px;
    width: 355px;
    border-radius: 60px;

}

.smalldiv1:hover{

    background-color: rgb(59, 80, 37) ;
    height: 445px;
    width: 375px;
    border-radius: 50px;
    transition: 0.7s;
}

.smalldiv1 h1{

    text-align: center;
    justify-content: center;
    color: rgb(126, 119, 65);
    font-size: 20px;
    font-family: cursive;
}

.smalldiv1 h1:hover{

    font-size: 25px; 
    transition: 0.5s;
}

.smalldiv1 img{

    height: 300px;
    width: 260px;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 180px;

}

.smalldiv1 img:hover{

    height: 320px;
    width: 280px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 80px;
    transition: 0.7s;
}

.smalldiv1 a{

    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(122, 100, 23) ;
    text-decoration: none;
    margin: 85px;

}

.smalldiv1 a:hover{

    color: rgb(136, 70, 46);
    transition: 0.5s;

}

.smalldiv1 a:active{

    color: rgb(63, 121, 63);

}


.smalldiv2 {

    margin: 60px;
    background-color: rgb(59, 80, 37);
    height:420px;
    width: 355px;
    border-radius: 60px;
}

.smalldiv2:hover{

    background-color: rgb(59, 80, 37) ;
    height: 445px;
    width: 375px;
    border-radius: 50px;
    transition: 0.7s;

}

.smalldiv2 h1{
    text-align: center;
    justify-content: center;
    color: rgb(126, 119, 65);
    font-size: 20px;
    font-family: cursive;
}

.smalldiv2 h1:hover{

    font-size: 25px; 
    transition: 0.5s;
}

.smalldiv2 img{

    height: 300px;
    width: 260px;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 180px;

}

.smalldiv2 img:hover{

    height: 320px;
    width: 280px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 80px;
    transition: 0.7s;
}

.smalldiv2 a{

    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(122, 100, 23) ;
    text-decoration: none;
    margin: 85px;
    
}

.smalldiv2 a:hover{

    color: rgb(136, 70, 46);
    transition: 0.5s;

}

.smalldiv2 a:active{

    color: rgb(63, 121, 63);

}


.smalldiv3 {

    margin: 60px;
    background-color: rgb(59, 80, 37);
    height:420px;
    width: 355px;
    border-radius: 60px;
}

.smalldiv3:hover{

    background-color: rgb(59, 80, 37) ;
    height: 445px;
    width: 375px;
    border-radius: 50px;
    transition: 0.7s;
}

.smalldiv3 h1{
    text-align: center;
    justify-content: center;
    color: rgb(126, 119, 65);
    font-size: 20px;
    font-family: cursive;
}

.smalldiv3 h1:hover{

    font-size: 25px; 
    transition: 0.5s;
}

.smalldiv3 img{

    height: 300px;
    width: 260px;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 180px;

}

.smalldiv3 img:hover{

    height: 320px;
    width: 280px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 80px;
    transition: 0.7s;
}

.smalldiv3 a{

    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(122, 100, 23) ;
    text-decoration: none;
    margin: 85px;
    
}

.smalldiv3 a:hover{

    color: rgb(136, 70, 46);

}

.smalldiv3 a:active{

    color: rgb(63, 121, 63);

}

.classlink2{

    color: black;
    text-decoration: none;
    padding: 20px;
    margin: 15px;
    text-align: center;
    display: flex;
    display: block;
    
}

footer{

    background-color: rgb(136, 87, 44);

}

.footerContainer{

    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{

    display: flex;
    justify-content: center;

}

.socialIcons a{

    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: rgb(109, 89, 53);
    border-radius: 50%;
}

.socialIcons a i{

    font-size: 2em;
    color: black;
    opacity: 0.9;

}

.socialIcons a:hover{

    background: #111;
    transition: 0.5s;

}

.socialIcons a i:hover{

    color: #fff;
    transition: 0.5s;

}

.footerNav{
    
    margin: 30px 0;


}

.footerNav ul{

list-style-type: none;
display: flex;
justify-content: center;

}

.footerNav ul li a{

    color: rgba(170, 138, 78, 0.8);
    margin: 25px;
    font-size: 2em;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover{

    color: rgba(145, 114, 59, 0.8);
    margin: 40px;
    font-size: 2.1em;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
}

.footerBottom{

    background: rgb(95, 89, 45);
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;

}

.text{

    overflow: hidden;
    font-size: 3.6rem;
    font-weight: 700;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 4s steps(40, end) infinite;

}

*{

    box-sizing: border-box;
}

@keyframes typing{
from{
    width: 0;
}

to{
    width: 100%;
}
}